gpu_id: "1"
model: 'AdapNet_pp'
num_classes: 13
intialize: /export/besicb/AdapNet-pp/init_checkpoint/AdapNet_pp_init.ckpt
checkpoint: /export/besicb/AdapNet-pp/carla.pretrained.ckpt
train_data: /export/besicb/AdapNet-pp/train.tfrecords
batch_size: 12
skip_step: 10
height: 512
width: 512
max_iteration: 500000
learning_rate: 0.0001
save_step: 1000
power: 0.9
